<div data-controller = "user" >
<button data-action="click->user#courses">Course</button>
</div>
<div data-controller = "user" >
<button data-action="click->user#orders">Order</button>
</div>
<div data-controller = "user" >
<button data-action="click->user#buildOrder">buildOrder</button>
</div>